---
import MainContent from "../../content/training/index.mdx";
import { components } from "../../components/elements";
import Page from "../../layouts/page.astro";
import NavigationList from "../../components/navigation-list.astro";
---

<Page title="Training" variant="sidebar">

    <div slot="sidebar">
        <NavigationList
                links={[
                    { href: "#upcoming-events", text: "Upcoming training" },
                    { href: "#training-material", text: "Training material" },
                    { href: "#past-events", text: "Past Events" },
                ]}
        />
    </div>

    <MainContent components={components} class="content"/>

</Page>
