---
import MainContent from "../../content/training/index.mdx";
import { components } from "../../components/elements";
import Projects from "../../layouts/complex.astro";
import NavigationList from "../../components/navigation-list.astro";
---

<Projects title="Training" sidebar="left-prominent">

    <div slot="left">
        <NavigationList
                links={[
                    { href: "#upcoming-events", text: "Upcoming training" },
                    { href: "#training-material", text: "Training material" },
                    { href: "#past-events", text: "Past Events" },
                ]}
        />
    </div>

    <MainContent components={components} class="content"/>

</Projects>