---
import FullWidth from "../layouts/full-width.astro";
import Placeholder from "../components/placeholder.astro";
---

<FullWidth title="Events">
    <ol class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-6 gap-x-6">
        <div class=" rounded-lg bg-white shadow-lg">
            <div class="px-4 py-5 sm:p-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi et itaque porro repellendus veritatis voluptas. Aliquid dolores, eum magni nisi quidem quo? Aspernatur magni omnis sint vel, vero voluptate.</div>
        </div>
        <div class=" rounded-lg bg-white shadow-lg">
            <div class="px-4 py-5 sm:p-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi et itaque porro repellendus veritatis voluptas. Aliquid dolores, eum magni nisi quidem quo? Aspernatur magni omnis sint vel, vero voluptate.</div>
        </div>
        <div class=" rounded-lg bg-white shadow-lg">
            <div class="px-4 py-5 sm:p-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi et itaque porro repellendus veritatis voluptas. Aliquid dolores, eum magni nisi quidem quo? Aspernatur magni omnis sint vel, vero voluptate.</div>
        </div>
        <div class=" rounded-lg bg-white shadow-lg">
            <div class="px-4 py-5 sm:p-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi et itaque porro repellendus veritatis voluptas. Aliquid dolores, eum magni nisi quidem quo? Aspernatur magni omnis sint vel, vero voluptate.</div>
        </div>
        <div class=" rounded-lg bg-white shadow-lg">
            <div class="px-4 py-5 sm:p-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi et itaque porro repellendus veritatis voluptas. Aliquid dolores, eum magni nisi quidem quo? Aspernatur magni omnis sint vel, vero voluptate.</div>
        </div>
        <div class=" rounded-lg bg-white shadow-lg">
            <div class="px-4 py-5 sm:p-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi et itaque porro repellendus veritatis voluptas. Aliquid dolores, eum magni nisi quidem quo? Aspernatur magni omnis sint vel, vero voluptate.</div>
        </div>
    </ol>
</FullWidth>