---
import { getCollection } from "astro:content";
import { HiArrowSmRight } from "react-icons/hi";
const news = (await getCollection("news"))
    .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
    .splice(0, 3);
const BASE = import.meta.env.BASE_URL.replace(/\/$/, '');
---

<ul class="flex flex-col gap-y-4">
    {news.map((article) => {
        return (
                <li>
                    <a href={`${BASE}/news/${article.id.replace(/\.mdx$/, "")}`}>
                        <span class="link block">{article.data.title}</span>
                        <time class="datetime block text-sm">{article.data.date}</time>
                    </a>
                </li>
        )
    })}
    <li>
        <a href={`${BASE}/news`} class="link flex items-center">
            More news
            <HiArrowSmRight/>
        </a>
    </li>
</ul>
