---
const { links } = Astro.props;
---

<div class="overflow-hidden sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        {links?.map((link) => {
            return (
                    <li>
                        <a href={link.href}
                           class={`text-base text-slate-600 dark:text-slate-400 block py-4 px-6 transition duration-150 ease-in-out`}>{link.text}</a>
                    </li>
            )
        })}
    </ul>
</div>
