---
import Default from "./default.astro";

const {frontmatter} = Astro.props;
---

<Default>
    <main class="mx-auto max-w-2xl content">
        <h1 class="text-3xl font-bold tracking-tight sm:text-5xl">
            {frontmatter.title}
        </h1>
        <div>
            <slot/>
        </div>
    </main>
</Default>